In [0]:
import pandas as pd

In [0]:
pd.read_table("https://bit.ly/chiporders")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45
15,8,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
16,8,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
17,9,1,Chicken Burrito,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$8.49
18,9,2,Canned Soda,[Sprite],$2.18
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
20,10,1,Chips and Guacamole,NaN,$4.45
21,11,1,Barbacoa Burrito,"[[Fresh Tomato Salsa (Mild), Tomatillo-Green C...",$8.99
22,11,1,Nantucket Nectar,[Pomegranate Cherry],$3.39
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98
24,12,1,Izze,[Grapefruit],$3.39
25,13,1,Chips and Fresh Tomato Salsa,NaN,$2.39
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
27,14,1,Carnitas Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.99
28,14,1,Canned Soda,[Dr. Pepper],$1.09
29,15,1,Chicken Burrito,"[Tomatillo-Green Chili Salsa (Medium), [Pinto ...",$8.49
...,...,...,...,...,...
4592,1825,1,Barbacoa Burrito,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$11.75
4593,1825,1,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",$11.75
4594,1825,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",$11.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4596,1826,1,Chips and Guacamole,NaN,$4.45
4597,1826,1,Canned Soft Drink,[Nestea],$1.25
4598,1826,1,Bottled Water,NaN,$1.50
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4600,1827,1,Chips and Guacamole,NaN,$4.45
4601,1827,1,Canned Soft Drink,[Diet Coke],$1.25
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4603,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],$9.25
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
4605,1828,1,Chips and Guacamole,NaN,$4.45
4606,1828,1,Canned Soft Drink,[Coke],$1.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4609,1829,1,Canned Soft Drink,[Sprite],$1.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4615,1832,1,Chicken Soft Tacos,"[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]",$8.75
4616,1832,1,Chips and Guacamole,NaN,$4.45
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [0]:
users=["lol","xd","rofl","lmao","wkwk"]
ex=pd.read_table("https://bit.ly/movieusers",sep="|",header=None,names=users)

In [0]:
ex.head()

   lol  xd rofl        lmao   wkwk
0    1  24    M  technician  85711
1    2  53    F       other  94043
2    3  23    M      writer  32067
3    4  24    M  technician  43537
4    5  33    F       other  15213

In [0]:
type(ex["lol"])

pandas.core.series.Series

In [0]:
ex["rofl"]

0      M
1      F
2      M
3      M
4      F
5      M
6      M
7      M
8      M
9      M
10     F
11     F
12     M
13     M
14     F
15     M
16     M
17     F
18     M
19     F
20     M
21     M
22     F
23     F
24     M
25     M
26     F
27     M
28     M
29     M
      ..
913    F
914    M
915    M
916    F
917    M
918    M
919    F
920    F
921    F
922    M
923    M
924    F
925    M
926    M
927    M
928    M
929    F
930    M
931    M
932    M
933    M
934    M
935    M
936    M
937    F
938    F
939    M
940    M
941    F
942    M
Name: rofl, Length: 943, dtype: object

In [0]:
ex.rofl

0      M
1      F
2      M
3      M
4      F
5      M
6      M
7      M
8      M
9      M
10     F
11     F
12     M
13     M
14     F
15     M
16     M
17     F
18     M
19     F
20     M
21     M
22     F
23     F
24     M
25     M
26     F
27     M
28     M
29     M
      ..
913    F
914    M
915    M
916    F
917    M
918    M
919    F
920    F
921    F
922    M
923    M
924    F
925    M
926    M
927    M
928    M
929    F
930    M
931    M
932    M
933    M
934    M
935    M
936    M
937    F
938    F
939    M
940    M
941    F
942    M
Name: rofl, Length: 943, dtype: object

In [0]:
ex.Lol

AttributeError: ignored

In [0]:
ex.lol

0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
      ...
913    914
914    915
915    916
916    917
917    918
918    919
919    920
920    921
921    922
922    923
923    924
924    925
925    926
926    927
927    928
928    929
929    930
930    931
931    932
932    933
933    934
934    935
935    936
936    937
937    938
938    939
939    940
940    941
941    942
942    943
Name: lol, Length: 943, dtype: int64

In [0]:
ex["newcol"]=ex["lmao"]+"-------------"+  ex["rofl"]

In [0]:
ex.head()

   lol  xd rofl        lmao   wkwk                    newcol
0    1  24    M  technician  85711  technician-------------M
1    2  53    F       other  94043       other-------------F
2    3  23    M      writer  32067      writer-------------M
3    4  24    M  technician  43537  technician-------------M
4    5  33    F       other  15213       other-------------F

In [0]:
import pandas as pd

In [0]:
dff=pd.read_csv("https://bit.ly/imdbratings")

In [0]:
dff.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [0]:
dff.shape

(979, 6)

In [0]:
dff.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [0]:
dff.ftypes

star_rating       float64:dense
title              object:dense
content_rating     object:dense
genre              object:dense
duration            int64:dense
actors_list        object:dense
dtype: object

In [0]:
dff.describe(include=["object"])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,The Girl with the Dragon Tattoo,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

In [0]:
ufo=pd.read_csv("https://bit.ly/uforeports")

In [0]:
ufo.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [0]:
ufo.rename( columns = {"City":"City_new"} ,inplace=True)

In [0]:
ufo.columns

Index(['City_new', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [0]:
x=["Cityy","colss","shaape","Staate","Time"]

In [0]:
ufo.columns=x

In [0]:
ufo.head()

                  Cityy colss    shaape Staate             Time
0                Ithaca   NaN  TRIANGLE     NY   6/1/1930 22:00
1           Willingboro   NaN     OTHER     NJ  6/30/1930 20:00
2               Holyoke   NaN      OVAL     CO  2/15/1931 14:00
3               Abilene   NaN      DISK     KS   6/1/1931 13:00
4  New York Worlds Fair   NaN     LIGHT     NY  4/18/1933 19:00

In [0]:
ufo1=pd.read_csv("https://bit.ly/uforeports")

In [0]:
x=ufo1.columns

In [0]:
type(x)

pandas.core.indexes.base.Index

In [0]:
x=list(x)

In [0]:
x

['City', 'Colors Reported', 'Shape Reported', 'State', 'Time']

In [0]:
ufo1.columns=ufo1.columns.str.replace(" ","_")

In [0]:
ufo1.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [0]:
ufo1.drop("City",axis=1,inplace=True)

In [0]:
ufo1.columns

Index(['Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [0]:
ufo1.head()

  Colors_Reported Shape_Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [0]:
ufo1.drop([0,1],axis=0,inplace=True)

In [0]:
ufo1.head()

  Colors_Reported Shape_Reported State             Time
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00
5             NaN           DISK    ND  9/15/1934 15:30
6             NaN         CIRCLE    CA   6/15/1935 0:00

In [0]:
moviera=pd.read_csv("https://bit.ly/imdbratings")

In [0]:
moviera.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [0]:
moviera["genre"].sort_values(ascending=True)

152      Action
753      Action
619      Action
129      Action
871      Action
699      Action
261      Action
135      Action
138      Action
858      Action
623      Action
856      Action
440      Action
349      Action
437      Action
354      Action
691      Action
434      Action
452      Action
123      Action
455      Action
118      Action
906      Action
488      Action
598      Action
276      Action
96       Action
896      Action
100      Action
707      Action
         ...
292     Mystery
110     Mystery
76      Mystery
38      Mystery
742     Mystery
264     Mystery
149     Mystery
249     Mystery
46      Mystery
863     Mystery
894     Mystery
637      Sci-Fi
321      Sci-Fi
484      Sci-Fi
408      Sci-Fi
145      Sci-Fi
902    Thriller
728    Thriller
350    Thriller
848    Thriller
496    Thriller
107     Western
26      Western
59      Western
6       Western
263     Western
236     Western
119     Western
421     Western
704     Western
Name: genre, Length: 979, dtype: object

In [0]:
moviera.sort_values(["genre","star_rating"],ascending=False)

,star_rating,title,content_rating,genre,duration,actors_list
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
59,8.5,Django Unchained,R,Western,165,"[u'Jamie Foxx', u'Christoph Waltz', u'Leonardo..."
107,8.3,For a Few Dollars More,APPROVED,Western,132,"[u'Clint Eastwood', u'Lee Van Cleef', u'Gian M..."
119,8.3,Unforgiven,R,Western,131,"[u'Clint Eastwood', u'Gene Hackman', u'Morgan ..."
236,8.1,High Noon,PG,Western,85,"[u'Gary Cooper', u'Grace Kelly', u'Thomas Mitc..."
263,8.1,Rio Bravo,NOT RATED,Western,141,"[u'John Wayne', u'Dean Martin', u'Ricky Nelson']"
421,7.9,The Outlaw Josey Wales,PG,Western,135,"[u'Clint Eastwood', u'Sondra Locke', u'Chief D..."
704,7.6,High Plains Drifter,R,Western,105,"[u'Clint Eastwood', u'Verna Bloom', u'Marianna..."
350,8.0,Shadow of a Doubt,APPROVED,Thriller,108,"[u'Teresa Wright', u'Joseph Cotten', u'Macdona..."
496,7.8,Misery,R,Thriller,107,"[u'James Caan', u'Kathy Bates', u'Richard Farn..."
728,7.6,La piel que habito,R,Thriller,120,"[u'Antonio Banderas', u'Elena Anaya', u'Jan Co..."
848,7.5,The Man Who Knew Too Much,PG,Thriller,120,"[u'James Stewart', u'Doris Day', u'Brenda de B..."
902,7.5,Frenzy,R,Thriller,116,"[u'Jon Finch', u'Barry Foster', u'Alec McCowen']"
145,8.2,Blade Runner,R,Sci-Fi,117,"[u'Harrison Ford', u'Rutger Hauer', u'Sean You..."
321,8.0,Brazil,R,Sci-Fi,132,"[u'Jonathan Pryce', u'Kim Greist', u'Robert De..."
408,7.9,Gravity,PG-13,Sci-Fi,91,"[u'Sandra Bullock', u'George Clooney', u'Ed Ha..."
484,7.8,The Day the Earth Stood Still,APPROVED,Sci-Fi,92,"[u'Michael Rennie', u'Patricia Neal', u'Hugh M..."
637,7.7,The Butterfly Effect,R,Sci-Fi,113,"[u'Ashton Kutcher', u'Amy Smart', u'Melora Wal..."
38,8.6,Rear Window,APPROVED,Mystery,112,"[u'James Stewart', u'Grace Kelly', u'Wendell C..."
46,8.5,Memento,R,Mystery,113,"[u'Guy Pearce', u'Carrie-Anne Moss', u'Joe Pan..."
76,8.4,Vertigo,APPROVED,Mystery,128,"[u'James Stewart', u'Kim Novak', u'Barbara Bel..."
110,8.3,2001: A Space Odyssey,G,Mystery,160,"[u'Keir Dullea', u'Gary Lockwood', u'William S..."
149,8.2,Rebecca,NOT RATED,Mystery,130,"[u'Laurence Olivier', u'Joan Fontaine', u'Geor..."
244,8.1,Shutter Island,R,Mystery,138,"[u'Leonardo DiCaprio', u'Emily Mortimer', u'Ma..."
249,8.1,Sleuth,PG,Mystery,138,"[u'Laurence Olivier', u'Michael Caine', u'Alec..."
264,8.1,Twelve Monkeys,R,Mystery,129,"[u'Bruce Willis', u'Madeleine Stowe', u'Brad P..."
292,8.1,The Manchurian Candidate,APPROVED,Mystery,126,"[u'Frank Sinatra', u'Laurence Harvey', u'Janet..."
467,7.9,The 39 Steps,UNRATED,Mystery,86,"[u'Robert Donat', u'Madeleine Carroll', u'Luci..."
583,7.8,Dark City,R,Mystery,100,"[u'Rufus Sewell', u'Kiefer Sutherland', u'Jenn..."
...,...,...,...,...,...,...
744,7.6,Mad Max 2: The Road Warrior,R,Action,94,"[u'Mel Gibson', u'Bruce Spence', u'Michael Pre..."
745,7.6,Jusan-nin no shikaku,R,Action,141,"[u'K\xf4ji Yakusho', u'Takayuki Yamada', u'Y\x..."
748,7.6,The Hunt for Red October,PG,Action,135,"[u'Sean Connery', u'Alec Baldwin', u'Scott Gle..."
749,7.6,Lone Survivor,R,Action,121,"[u'Mark Wahlberg', u'Taylor Kitsch', u'Emile H..."
753,7.6,Escape from Alcatraz,PG,Action,112,"[u'Clint Eastwood', u'Patrick McGoohan', u'Rob..."
764,7.6,Indiana Jones and the Temple of Doom,PG,Action,118,"[u'Harrison Ford', u'Kate Capshaw', u'Jonathan..."
765,7.6,Ip Man 2,R,Action,108,"[u'Donnie Yen', u'Xiaoming Huang', u'Sammo Kam..."
767,7.6,"It's a Mad, Mad, Mad, Mad World",APPROVED,Action,205,"[u'Spencer Tracy', u'Milton Berle', u'Ethel Me..."
778,7.6,Die Hard: With a Vengeance,R,Action,131,"[u'Bruce Willis', u'Jeremy Irons', u'Samuel L...."
780,7.6,Midnight Run,R,Action,126,"[u'Robert De Niro', u'Charles Grodin', u'Yaphe..."
787,7.6,Rise of the Planet of the Apes,PG-13,Action,105,"[u'James Franco', u'Andy Serkis', u'Freida Pin..."
801,7.6,Batman,PG-13,Action,126,"[u'Michael Keaton', u'Jack Nicholson', u'Kim B..."
803,7.6,Ghost Dog: The Way of the Samurai,R,Action,116,"[u'Forest Whitaker', u'Henry Silva', u'John To..."
809,7.6,House of Flying Daggers,PG-13,Action,119,"[u'Ziyi Zhang', u'Takeshi Kaneshiro', u'Andy L..."
812,7.6,Star Trek: First Contact,PG-13,Action,111,"[u'Patrick Stewart', u'Jonathan Frakes', u'Bre..."
815,7.6,Equilibrium,R,Action,107,"[u'Christian Bale', u'Sean Bean', u'Emily Wats..."
832,7.5,RoboCop,R,Action,102,"[u'Peter Weller', u'Nancy Allen', u""Dan O'Herl..."
856,7.5,Scott Pilgrim vs. the World,PG-13,Action,112,"[u'Michael Cera', u'Mary Elizabeth Winstead', ..."
858,7.5,Sherlock Holmes: A Game of Shadows,PG-13,Action,129,"[u'Robert Downey Jr.', u'Jude Law', u'Jared Ha..."
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
884,7.5,Open Range,R,Action,139,"[u'Kevin Costner', u'Robert Duvall', u'Diego L..."
885,7.5,Total Recall,R,Action,113,"[u'Arnold Schwarzenegger', u'Sharon Stone', u'..."
896,7.5,From Russia with Love,APPROVED,Action,115,"[u'Sean Connery', u'Robert Shaw', u'Lotte Lenya']"
906,7.5,Looper,R,Action,119,"[u'Joseph Gordon-Levitt', u'Bruce Willis', u'E..."
908,7.5,Bullitt,PG,Action,114,"[u'Steve McQueen', u'Jacqueline Bisset', u'Rob..."
918,7.5,Running Scared,R,Action,122,"[u'Paul Walker', u'Cameron Bright', u'Chazz Pa..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."

In [0]:
moviera.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [0]:
x=moviera[moviera["star_rating"]>=9.0]["duration"].max()

In [0]:
x

200

In [0]:
import pandas as pd

In [0]:
df=pd.read_csv("https://bit.ly/imdbratings")

In [0]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [0]:
df=df.sort_values(["genre"],ascending=True)

In [0]:
df.head(10)

,star_rating,title,content_rating,genre,duration,actors_list
152,8.2,V for Vendetta,R,Action,132,"[u'Hugo Weaving', u'Natalie Portman', u'Rupert..."
753,7.6,Escape from Alcatraz,PG,Action,112,"[u'Clint Eastwood', u'Patrick McGoohan', u'Rob..."
619,7.7,Forbidden Planet,PASSED,Action,98,"[u'Walter Pidgeon', u'Anne Francis', u'Leslie ..."
129,8.3,Ran,R,Action,162,"[u'Tatsuya Nakadai', u'Akira Terao', u'Jinpach..."
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
699,7.6,The Fifth Element,PG-13,Action,126,"[u'Bruce Willis', u'Milla Jovovich', u'Gary Ol..."
261,8.1,Elite Squad,R,Action,115,"[u'Wagner Moura', u'Andr\xe9 Ramiro', u'Caio J..."
135,8.3,Heat,R,Action,170,"[u'Al Pacino', u'Robert De Niro', u'Val Kilmer']"
138,8.3,Die Hard,R,Action,131,"[u'Bruce Willis', u'Alan Rickman', u'Bonnie Be..."
858,7.5,Sherlock Holmes: A Game of Shadows,PG-13,Action,129,"[u'Robert Downey Jr.', u'Jude Law', u'Jared Ha..."

In [0]:
df.drop([152,753],axis=0,inplace=True)

In [0]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
619,7.7,Forbidden Planet,PASSED,Action,98,"[u'Walter Pidgeon', u'Anne Francis', u'Leslie ..."
129,8.3,Ran,R,Action,162,"[u'Tatsuya Nakadai', u'Akira Terao', u'Jinpach..."
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
699,7.6,The Fifth Element,PG-13,Action,126,"[u'Bruce Willis', u'Milla Jovovich', u'Gary Ol..."
261,8.1,Elite Squad,R,Action,115,"[u'Wagner Moura', u'Andr\xe9 Ramiro', u'Caio J..."